@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none,
    list-style: none;
}

body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {

    display: flex;
    align-items: center;
    main-height: 80vh;
    position: relative;

}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.logoo{
    font-size: 25px;
    color: #070303;
    text-transform: uppercase;
    font-weight: 800;
}

menu .navbar ul li{
    positio: relative;
    float: left;
}

.menu .navbar ul li{
    font-size: 18px;
    padding: 20;
    font-weight: 600;
    color: #870808;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #0a0202;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color:  #090404;
    padding: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%
}

h, td {
    color: #e8e7e752;
}

.borrar {
    background-color: #870808;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #E44720;
    font-weight: 800;
}

.bg {
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
    z-index: -1;
}


.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
    margin-right: 50px;;

}
,header-txt h1 {
    font-size: 55px;
    line-height: 65px;
    color: #DE4A25;
    margin-bottom: 35px;
}

 .header-txt p{
    font-size: 16px;
    color: #E44720;
    margin-bottom: 45px;
 }

 .header-txt span {
    color: #870808;
 }

 .btn-1 {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 25px;
    background-color: #DE4A25;
    font-size: 16px;
    color: #e8e7e771;
    text-transform: capitalize;
    box-shadow: 0 0 20xp  rgba(0, 0, 0, 0.2);
 }

.btn-1:hover {
    background-color: #160BEE;
}

.header-img {
    width: 50%;
    text-align: right;
}

.header-img img {
    width: 650px;;
}

.breakfast {
    padding: 50px 0;
} 

h2 {
    font-size: 45px;
    line-height: 55px;
    color: #0C059E;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #E41047;
    margin-bottom: 45px;
}

.breakfast-content {
    display: flex;
    justify-content: space-between;
}

.breakfast-1 {
    display: flex;
    align-items: center;
    background-color: #DE4A25;
    padding: 100px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.breakfast-1 h3 {
    font-size: 16px;
    color:#e8e7e752;
    font-weight: 600;
}

.breakfast-1 img {
    width: 50px;
    margin-right: 25px;
}

.info {
    padding: 100px 0;
    position: relative;
}

.bg-2 {
    position: absolute;
    width: 300px;
    z-index: -1;
    top: 50px;
}

.info-content {
    display: flex;
    align-items: center;
}

.info-img {
    width: 50%;
    text-align: left;
}

.info-img img {
    width: 50%;
    text-align: left;
}

.info-img img {
    width: 450%;
    margin-left: -50px;
}

.info-txt {
    width: 50%;
}

.products {
    padding: 0 0 50px 0;
    text-align: center;
}

.box-container {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, lfr));
    gap: 20px;
}

.box {    
    border-tod: 2px solid #0C059E;
    padding: 20px;
    border-readius: 15px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.box:nth-child(1)
.box:nth-child(2)
.box:nth-child(3)
.box:nth-child(4) {
    display: inline-block;
}

.box img {
    width: 120%;
}

.product-txt h3 {
    font-size: 20px;
    color: #DE4A25;
    margin-bottom: 10px;
}

.product-txt p {
    margin-bottom: 25px;
}

.precio {
    font-size: 15px;
    color: #2BACF1;
}

.btn-2 {
    background-color: #E44720;
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    color: #ece8e7;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover {
    background-color:  #140c0a;
}

.btn-3 {
    display: inline-block;
    padding: 5px 25px;
    background-color:  #5b9b07;
    color: #0a0202;
    border-radius: 10px;
}

.btn-3:hover {
    background-color: #0a0202;
}

.app {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.app-txt {
    width: 50%;
}

.descarga {
    display: flex;
}

.descarga img {
    width: 150px;
}

.app-img {
    width: 50%;
    text-align: center;
}

.app-img img {
    width: 450%;
}

.footer {
    padding: 50px 0;
    background-color: #5b9b07;
}

.info-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ece8e7;
}

.link a {
    color: black;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #E41047;
        display: none;
    }


    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: #ece8e7;

    }

    .logo {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    } 

    .submenu:hover #carrito {
        width: 100%;
    }

    .bg {
        display: none;
    }

    .header-content {
        padding: 100px 30px 30px 30px;
        flex-direction: column;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin: 0 0 25px 0;
        
    }

    .header-txt h1 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 20px;
    }

    .header-txt p {
        margin-bottom: 20px;
    }

    .header-img {
        width: 100%;
        text-align: center;
    }

    .header-img img {
        width: 300px;
    }

    .breakfast {
        padding: 30px;
    }

    .breakfast-content {
        flex-direction: column;
        align-items: center;
    }

    .breakfast-1 {
        justify-content: space-between;
        padding: 10px 55px;
        width: 100%;
        margin-bottom: 25px;
    }

    .info {
        padding: 30px;
    }

    .bg-2 {
        display: none;
    }

    .info-content {
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 250px;
        margin-left: 0;
    }

    .info-txt {
        width: 100%;
        text-align: center;
    }

    .prducts {
        padding: 30px;
    }

    .box-container {
        margin-top: 25px;;
    }

    .app {
        flex-direction: column;
        padding: 30px;
    }

    .app-txt {
        width: 100%;
        text-align: center;
    }

    .descarga {
        flex-direction: column;
        align-items: center;
    }

    .app-img {
        width: 100px;
        text-align: center;
    }

    .app-img img {
        width: 300px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
}

